<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/shop/t-user/checkLogin" method="post" enctype="multipart/form-data">

    <table>

        <tr>
            <td>userName</td>
            <td><input type="text" name="userName" value=""></td>
        </tr>

        <tr>
            <td>password</td>
            <td><input type="text" name="password" value=""></td>
        </tr>

        <tr>
            <td colspan="2"> <button type="submit" value="登录"> 登录 </button></td>
        </tr>

    </table>

</form>
</body>
</html>